{% extends 'content_base.html' %}
{% load static %}

{% block title %}Accueil - World of Aulodrum{% endblock %}

{% include 'messages_dismissable.html' %}

{% block content_body %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    {% if user.is_authenticated %}
    <div class="jumbotron">
        <h1 class="display-3">Bonjour, {{ user.username }} !</h1>
        <p class="lead">Voici les dernières nouvelles d'activités</p>
        <hr class="my-2">
        <p>Un bon moyen de voir ce qui a changer sans prise de tête</p>
        <p class="lead">
            <a class="btn btn-outline-dark btn-lg" href="#!" role="button">Some action</a>
        </p>
    </div>
    {% else %}
    <div class="jumbotron">
        <h1 class="display-3">Bonjour, bienvenue sur le serveur extranet de Nacia !</h1>
        <p class="lead">
            Grâce à ce serveur vous pourrez en apprendre plus sur les trois mondes ainsi que les dernières
            nouvelles des Planètes G:VL-S:SS-D:O[id]-Terres/Aulodrum, G:AB-S:[nom]-D:G[id]-Descresa/Ténébris et
            G:EA-S:ESD-D:A[id]-???/Dragonnia
        </p>
        <hr class="my-2">
        <p>Nous vous invitons donc à aller explorer un peu tout ce que nous proposons</p>
        <p class="lead">
            <a class="btn btn-outline-dark btn-lg" href="#!" role="button">Personnages</a>
            <a class="btn btn-outline-dark btn-lg" href="#!" role="button">Mondes</a>
            <a class="btn btn-outline-dark btn-lg" href="#!" role="button">Inscription</a>
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}


