{% extends 'content_base.html' %}

{% block messages %}
    {% if messages %}
    <div class="row m-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 messages">
            {% for message in messages %}
            <div class="alert
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning{% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-info{% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}alert-dark{% endif %}
                {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissable fade-show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content_body %}
<div class="row">
    <h1>{{ user.username }}</h1>
</div>
<div class="row">
    <div class=""></div>
</div>
{% endblock %}