<div class="alert
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-info{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}alert-dark{% endif %}
{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissable fade-show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message|safe }}
</div>
