{% extends 'content_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ personnage.prenom }} {{ personnage.nom }}{% endblock %}

{% block content_body %}
<div class="row mb-1">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">
        <img src="{% static 'img/characters/' %}{{ personnage.prenom }}/{{ personnage.image_filename }}.png" class="img-fluid" alt="Hollow">
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
        <h5>Prénom : {{ personnage.prenom }}</h5>
        <h5>Nom : {{ personnage.nom }}</h5>
        <h5>Âge : {{ personnage.age }}</h5>
        <h5>Origine : {{ personnage.origine }}</h5>
    </div>
</div>
<div class="row mt-1">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h6>Histoire :</h6>
        <p>{{ personnage.histoire|linebreaks|safe }}</p>
    </div>
</div>

{# Zone Commentaires #}
<div class="row mt-5" id="commentaires">
    <h3>Commentaires ({{ comments.count }})</h3>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        {# Message utilisateurs #}
        {% include 'messages_dismissable.html' %}

        {# Affichage des commentaires existant #}
        <ul class="list-unstyled">
                {% for comment in comments %}
                <li class="media">
                    <img class="mr-3" src="{% static 'img/characters/placeholder-img.png' %}">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ comment.nom_auteur }}</h5>
                        <p>
                            <small class="text-muted">Publier le {{ comment.created_at|date:'d/m/Y' }} à {{ comment.created_at|date:'h:m' }}</small>
                        </p>
                        <p>
                            {% if comment.status == 'moderer' %}
                                <span class="font-weight-light font-italic text-muted">
                                    [[ Commentaire modérer: {{ comment.texte_moderation }} ]]
                                </span>
                            {% else %}
                                {{ comment.texte }}
                            {% endif %}
                        </p>
                        <button class="btn btn-outline-dark" type="button"><small>Editer</small></button>
                        <button class="btn btn-outline-dark" type="button"><small>Supprimer</small></button>
                    </div>
                </li>
                <hr>
                {% empty %}
                <li class="media">Il n'y a pas de commentaires !</li>
                {% endfor %}
            </ul>

            <form action="{% url 'character-details' personnage.slug %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form comment_form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {% endbuttons %}
            </form>
    </div>
</div>
{% endblock %}