{% extends 'content_base.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'css/characters-page.css' %}">
{% endblock %}

{% block content_body %}
<div class="row pl-2 pr-2">
    {% for personnage in personnages %}
        <div class="card col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-5 shadow d-block btn btn-outline-dark">
            <div class="row m-3">
                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-2 col-2">
                    <img class="img-thumbnail" src="{% static 'img/characters/' %}{{ personnage.prenom }}/{{ personnage.image_filename }}.png" alt="Image {{ character.prenom }}">
                </div>
                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-10 col-10 text-left">
                    <h4>{{ personnage.prenom }} {{ personnage.nom }}</h4>
                    <p>{{ personnage.resumer|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="jumbotron jumbotron-fluid text-center">
                <div class="container-fluid">
                    <h1 class="display-3">Oh non !</h1>
                    <p class="lead">
                        Il n'y a rien.
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}